{% extends 'base.html' %}


{% block title %} Confirmated {% endblock %}

{% block main %}

    <h1>Are you sure you want to delete {{ person.tag }} ?</h1>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>



{% endblock %}

