{% extends 'base.html' %}
{% load bootstrap %}

{% block title %} Admin {% endblock %}

{% block main %}
    <h3>New suggestion</h3>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|bootstrap }}
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
{% endblock %}
