{% extends 'base.html' %}


{% block title %} Marketing Digital {% endblock %}

{% block main %}


    <div class="row">
        <div class="col">

        </div>

        <div class="col-6">
            <h1>Welcome to beta version</h1>
        </div>

        <div class="col-sm">
            {% if user.is_authenticated %}
                <p>Hello {{ user.username }}</p>
                <a href="{% url 'logout' %}">Logout</a>
            {% else %}
                <a href="{% url 'login' %}" class="btn btn-info">Login</a>
            {% endif %}
        </div>
    </div>

{% endblock %}

{% block footer %}
    <footer class="footer">
      <div class="container">
        <span class="text-muted">SnapFollowers!</span>
      </div>
    </footer>
{% endblock %}